[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "*"
deeplake = "*"
openai-function-call = "*"

[dev-packages]

[requires]
python_version = "3.9"
